<div class="chatroom-message" id="message-<%= message.id %>">
  <% if message.sender.photo.key.present? %>
    <%= cl_image_tag message.sender.photo.key, gravity: 'face', width: 150, height: 150, crop: "fill", class:"avatar-large" %>
  <% else %>
    <%= image_tag "default-male-avatar-profile-picture-icon-grey-man-photo-placeholder-vector-illustration-88414414.jpg", class: "avatar-large" %>
  <% end %>
  <div class="chatroom-message-content">
    <small>
      <strong><%= message.sender.first_name %></strong>
    </small>
    <div class="chatroom-message-content-time">
      <p><%= message.content %></p>
      <p><small><%= message.created_at.strftime("%d %B - %H:%M") %></small></p>
    </div>
  </div>
</div>
