<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <span>SpareSeat</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% unless current_page?(root_path) %>
      <%= form_with url: events_path,
                    method: :get,
                    html: { class: "d-flex width-350", data: { search_events_target: "form" }} do |f| %>
        <%= f.text_field :query,
                          class: "form-control",
                          placeholder: "Search for an event or venue",
                          value: params[:query],
                          data: {
                            search_events_target: "input",
                            action: "keyup->search-events#update"
                          } %>
        <%= button_tag :submit, class: "btn btn-primary btn-lg" do %>
          <i class="fa fa-search" aria-hidden="true"></i>
        <% end %>
      <% end %>
    <% end %>

    <div class="collapse navbar-collapse margin-left-auto" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Buy a Ticket", events_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sell a Ticket", events_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Messages", chatrooms_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.key.present? %>
              <%= cl_image_tag current_user.photo.key, gravity: 'face', width: 150, height: 150, crop: "fill", class: "avatar dropdown-toggle", id: "navbarDropdown", data: {bs_toggle: "dropdown"} %>
            <% else %>
              <div class="Navbar__avatar dropdown-toggle m-2" id="navbarDropdown" data-bs-toggle="dropdown">
                <i class="fas fa-solid fa-user Navbar__user-icon"></i>
              </div>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", my_profile_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Buy a Ticket", events_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
