
<div class="cards-list" data-search-events-target="list">
  <div class="cards mb-5" >
    <% events.each do |event| %>
      <div class="card">
        <%= image_tag event.venue.images.first.image_url %>
        <div class="card-infos">
          <div>
            <h2>
              <%= link_to event.name,
                  event_path(event),
                  style: "text-decoration: none; color: black;" %>
            </h2>
            <p><em><%= event.venue.name %></em></p>
            <hr class="mt-1 mb-1">
            <p class="card-date"><%= event.date.strftime("%d %B, %Y | %H:%M") %></p>
          </div>
          <div>
            <%= link_to "Sell your ticket", new_event_ticket_path(event), class: "btn btn-primary mt-2 m-1 rounded-pill" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div>

  <div class="pagination-container container">
    <%= paginate @events, window: 2 %>
  </div>
</div>
