
<div class="cards-list" data-search-events-target="list">
  <div class="cards mb-5" >
    <% events.each do |event| %>
      <div class="card">
        <% if event.venue.images.first %>
          <%= image_tag event.venue.images.first.image_url %>
        <% else %>
          <%= image_tag "https://tmssl.akamaized.net//images/galerie_bg.jpg" %>
        <% end %>
        <div class="card-infos">
          <div class="card-infos-event-title">
            <h2>
              <%= link_to event.name,
                  event_path(event),
                  style: "text-decoration: none; color: black;" %>
            </h2>
          </div>
          <div class="card-infos-flex">
            <p><%= event.venue.name %></p>
            <p class="card-date"><%= event.date.strftime("%d %B, %Y | %H:%M") %></p>
          </div>
        </div>
        <div class="card-buttons">
          <div class="button-container">
            <%= link_to "Buy a Ticket", event_path(event), class: "btn buy-button" %>
          </div>
          <div class="button-container">
            <%= link_to "Sell your Ticket", new_event_ticket_path(event), class: "btn sell-button"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div>

  <div class="pagination-container container">
    <%= paginate @events, window: 2 %>
  </div>
</div>
