
<%= render "shared/navbardark" %>

<div class="navbar-space">
  <div class="cards">
      <% @events.each do |event| %>
        <div class="card-trip">
         <%= image_tag("wembley.png") %>
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to event.name, event_path(event), class: "text-decoration-none" %><h2>
              <p> <%= event.date %></p>
              <%= link_to "View tickets", event_path(event), class: "btn btn-primary mt-2 m-1 rounded-pill" %>
              <%= link_to "Sell your ticket", new_event_ticket_path(event), class: "btn btn-primary mt-2 m-1 rounded-pill" %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>

<%= render "shared/footer" %>
