<h1>A list of all the different events on!</h1>

<ul>
  <% @events.each do |event| %>
  <img src="<% event.venue.image_url %>" alt="Picture of <%= event.venue.name %> ">
  <p>Name: <%= event.name %><p>
  <li> Date: <%= event.date %></li>
  <%= link_to "View tickets for this match!", event_path(event) %>
  <%= link_to "Sell a ticket for this match!", new_event_ticket_path(event) %>
  <% end %>
</ul>
