<h1>Browse available tickets for <%= @event.name %></h1>

<h3>Tickets for the match</h3>

<% @event.tickets.each do |ticket| %>
  <% ticket.for_sale? %>
  <p>Seat: <%= ticket.seat %> </p>
  <p>Price: <%= ticket.price %></p>
  <%= link_to "Buy this ticket!", "#" %>
  <%= link_to "Message the owner about this ticket", "#" %>
<% end %>
