
<div class="event-banner"
     style="background-image: linear-gradient(rgba(0,0,0,0.3),
                              rgba(0,0,0,0.3)),
                              url(<%= @event.venue.images.first.image_url %>);">
</div>
<div class="top-section">
  <div class="container">
    <div class="event-information">
      <div>
        <h2><%= @event.name %></h2>
        <p class="venue-name"><%= @event.venue.address %></p>
        <p><%= @event.date.strftime("%d %B, %Y | %H:%M") %></p>
      </div>
      <div data-controller="map"
        data-map-marker-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        class="map">
      </div>
    </div>
  </div>
</div>


<hr>
<div id="wrapper">
  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>Seat</th>
        <th>Seller</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @available_tickets.each do |ticket| %>
        <tr>
          <td class="lalign"><%= ticket.seat %></td>
          <td>
            <% if ticket.owner.id == current_user.id %>
              <h4>You</h4>
            <% else %>
              <%= ticket.owner[:first_name] %> <%= ticket.owner[:last_name] %>
            <% end %>
          </td>
          <td><strong>£<%= ticket.price %></strong></td>
          <td class="ticket-message">
            <% if ticket.owner.id != current_user.id %>
              <%= simple_form_for @chatroom do |f| %>
                <%= f.input :participant_one_id, as: :hidden, input_html: { value: ticket.owner.id } %>
                <%= f.input :participant_two_id, as: :hidden, input_html: { value: current_user.id } %>
                <%= button_tag(type: 'submit', class:"icon") do %>
                  <i class="fa-solid fa-message"></i>
                <% end %>
              <% end %>
            <% end %>
            <p>Message the seller!</p>
          </td>
        </tr>
      <% end  %>
    </tbody>
  </table>
</div>
