<div class="navbar-space m-5">
  <h1><%= @event.name %></h1>
  <hr class="w-100">
  <h4><%= @event.date %> - <%= @event.venue[:name] %></h4>
  <ul>
    <li>Address: <%= @event.venue[:address] %>, <%= @event.venue[:city] %></li>
    <li>Capacity: <%= number_with_delimiter(@event.venue[:capacity]) %></li>
  </ul>

    <h3>Tickets</h3>
    <p class="text-muted"><%= @available_tickets.length %> tickets available</p>
  <div class="cards">
    <% @available_tickets.each do |ticket| %>
      <div class="card-trip">
        <%= image_tag("wembley.png") %>
        <div class="card-trip-infos">
          <p>Seat: <%= ticket.seat %> </p>
          <p>Price: £<%= ticket.price %></p>

          <div>
            <% if ticket.owner.id != current_user.id %>
              <%= form_with url: orders_path do %>
                <%= hidden_field_tag 'ticket_id', ticket.id %>
                <%= submit_tag 'Purchase', class: 'btn btn-primary m-1' %>
                <br>
              <%= link_to "Message the Seller", "", class: 'btn btn-primary m-1' %>
                <% end %>
              <% end %>
          </div>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            <% if ticket.owner.id == current_user.id %>
              <p>You</p>
            <% else %>
              <p><%= ticket.owner[:first_name] %> <%= ticket.owner[:last_name] %></p>
            <% end %>
            </div>
        </div>
      <% end %>
  </div>
</div>
