<div class="container form-registration p-5">
  <div class="row">
    <div class="col">
      <h1>Your ticket order is confirmed!</h1>
      <ul class="list-unstyled">
        <li><strong>Date of purchase:</strong> <%= @order.created_at.to_date %></li>
        <li><strong>Game:</strong> <%= @order.ticket.event[:name]%></li>
        <li><strong>Price:</strong> <%= humanized_money_with_symbol(@order.amount)%></li>
        <li><strong>Seat:</strong> <%= @order.ticket.seat %></li>
        <br>
        <li><%= @svg.html_safe %></li>
        <p class="text-muted mt-3"><%= link_to "", my_profile_path, class: "fa-solid fa-arrow-left"%> Back to your profile </p>
        </li>
      </ul>
    </div>
  </div>
</div>
